.grid {
    display: grid;
    grid-template-columns: 100px auto 100px;
    grid-template-rows: repeat(3, 100px);
    grid-gap: 1em;
  }

  header, footer {
    grid-column: 1 / 4;
    display: flex;
    text-align: center;
    flex-direction: column;

  }
  .content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
  }