.grid {
    display: grid;
    grid-template-columns: 100px auto 100px;
    grid-template-rows: repeat(3, 100px);
    grid-gap: 1em;
    
  }

  header, footer {
    grid-column: 1 / 4;
    display: flex;
    align-items: center;
    flex-direction: column;

  }
  .content {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
    

  }